@model BookingSystem_Prototype_MVC.Models.BusinessModels.Business

@{
    ViewData["Title"] = "ViewBusiness";
    Layout = "~/Views/Shared/_ViewLayout.cshtml";
}

<head>
    <style>
        .bg-1 {
            background-color: whitesmoke; /* Green */
            color: black;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }
        .btnDiv{
            margin-left:auto;
            margin-right:auto;
            width:50%;
        }

    </style>
</head>

<div class="container-fluid bg-1 text-center">
    <img src="@("~/Images/" + Model.ImageName)" asp-append-version="true" class="rounded-circle" width="150" height="150" />
    <p class="display-3" >@Model.Name</p>
    <div class="btnDiv">
        <button class="btn btn-success btn-block">View Gallery</button>
        <br/>
        <a type="button" class="btn btn-primary btn-block" asp-route-Id="@Model.ID" asp-controller="Services" asp-action="ViewServices">View Services</a>
    </div>
</div>

<div class="container" style="margin:1em;">

    <p class="lead">About Us:</p>
    <dl>
        <dt class="col-md-3 form-label">Description</dt>
        <dd class="col">@Model.Description</dd>

        <dt class="col-md-3 form-label">Location</dt>
        <dd class="col">@Model.Address, @Model.City, @Model.Country</dd>
    </dl>

    <p class="lead">Contact Us:</p>
    <dl class="row container">
        <div class="col-md">
            <dt class="form-label">Phone</dt>
            <dd>@Model.Phone</dd>
         </div>
        <div class="col-md">
            <dt class="form-label">Telephone</dt>
            <dd>@Model.Telephone</dd>
        </div>
    </dl>

    <p class="lead">You can find us on following social media platforms: </p>
    <dl class="row container">
        <div class="col-md">
            <dt class="form-label">Facebook</dt>
            <dd>@Model.FacebookLink</dd>
        </div>
        <div class="col-md">
            <dt class="form-label">Instagram</dt>
            <dd>@Model.InstagramLink</dd>
        </div>
        <div class="col-md">
            <dt class="form-label">Website</dt>
            <dd>@Model.WebsiteLink</dd>
        </div>
        <div class="col-md">
            <dt class="form-label">Whatsapp</dt>
            <dd>@Model.WhatsappLink</dd>
        </div>
    </dl>

</div>